/* =========================================
   1. VARIABLES, ANIMATIONS & THEME
========================================= */
@font-face {
   font-family: JetBrainsMono;
   src: url(/JetBrainsMono.ttf);
   font-display: swap;
}

:root {
   font-family: JetBrainsMono, system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-size: 18pt;
   font-weight: 400;
   line-height: 1.75;
   text-align: center;

   --star-radius-outer:12px;
   --star-radius-inner:1.7rem;
}

html, body {
   min-height: 100vh;
   scrollbar-width: none; 
   overflow-x: hidden;
   background: var(--bg);
   background-attachment: fixed;
   -webkit-tap-highlight-color: transparent;
}

html{
   margin:0;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
   display: none;
}

body {
   flex-wrap: nowrap;
   min-width: 320px;
   color: var(--font);
   background: var(--bg);
   width: auto;
   margin:0;
}

.container,.nav-bar {
   max-width: 1680px;
   margin: 0 auto;
   padding: 0 0.5rem;
}

[data-dark-mode] {
   transition: background-color .5s;
}

[data-dark-mode=true] {
   --bg: linear-gradient(0deg, #000 0%, #131313 100%);
   --main: rgb(33, 38, 44);
   --main2: hsl(210, 13%, 9%);
   --input: hsl(206, 15%, 23%);
   --input2: hsl(180, 30%, 7%);
   --font: #D3D9D4;
   --contour:hsl(0, 0%, 0%);
   --secondary: #66FCF1;
   --highlight: hsl(180, 43%, 28%);
   --symbol: rgb(0, 255, 238);
   --filter: blur(36px) saturate(5) contrast(1) brightness(0.9);
   --filter-bg: blur(36px) saturate(6) contrast(1) brightness(1);
   --filter-bg2: blur(44px) saturate(11) contrast(1) brightness(0.7);
   --blend: normal;
   --shadow: 0 0px 15px rgba(0, 0, 0, 0.55);
   --border: 1px solid rgba(0, 0, 0, 0.4);
   --hover-section:rgba(33, 38, 44, 0.85);
   --hover-section2:rgba(33, 38, 44, 0.75);
   --hover-section3:rgba(33, 38, 44, 0.65);
   --hover-button:hsl(180, 100%, 28%);
   --hover-input:hsl(206, 15%, 19%);
   --hover-input2:hsl(180, 30%, 5%);
}

[data-dark-mode=false] {
   --bg: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(212, 212, 212) 100%);
   --main: hsl(0, 0%, 88%);
   --main2: hsla(0, 0%, 86%, 0.899);
   --input: hsl(0, 0%, 100%);
   --input2: hsl(0, 0%, 79%);
   --font: #262c27;
   --contour:hsl(0, 0%, 100%);
   --secondary: hsl(166, 100%, 26%);
   --highlight: hsl(167, 30%, 22%);
   --symbol: rgb(0, 189, 145);
   --filter: blur(24px) saturate(5) contrast(1.1);
   --filter-bg: blur(36px) saturate(10) contrast(1) brightness(0.9);
   --filter-bg2: blur(60px) saturate(7) contrast(1) brightness(1);
   --blend: normal;
   --shadow: 0 0px 15px rgba(255, 255, 255, 0.2);
   --border: 1px solid rgba(255, 255, 255, 0.65);
   --hover-section:rgba(224, 224, 224,0.65);
   --hover-section2:rgba(224, 224, 224,0.5);
   --hover-section3:rgba(224, 224, 224,0.3);
   --hover-button:hsl(167, 100%, 22%);
   --hover-input:hsl(0, 0%, 94%);
   --hover-input2:hsl(0, 0%, 77%);
}


@keyframes rotate {
   0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }

   25% {
      transform: translate(20px, -30px) scale(1.12) rotate(12deg);
   }

   50% {
      transform: translate(-10px, -20px) scale(0.92) rotate(3deg);
   }

   75% {
      transform: translate(15px, 10px) scale(1) rotate(-9deg);
   }

   100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }
}

@keyframes rotate-2 {
   0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }

   25% {
      transform: translate(-5px, -30px) scale(1.1) rotate(-4deg);
   }

   50% {
      transform: translate(-15px, 0) scale(0.8) rotate(3deg);
   }

   75% {
      transform: translate(0px, -15px) scale(1.05) rotate(-9deg);
   }

   100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }
}

@keyframes rotate-3 {
   0% {
      transform: translate(0, 0) scale(1.2) rotate(0deg);
   }

   25% {
      /* Leichter Push nach oben, kaum Rotation */
      transform: translate(3px, -15px) scale(1.1) rotate(2deg);
   }

   50% {
      /* Sinkt tiefer ab, zieht sich leicht zusammen */
      transform: translate(-4px, 10px) scale(1.2) rotate(-3deg);
   }

   75% {
      /* Schwebt nach links oben, öffnet sich wieder */
      transform: translate(-10px, -5px) scale(1.1) rotate(4deg);
   }

   100% {
      transform: translate(0, 0) scale(1.6) rotate(0deg);
   }
}

@keyframes rotate-4 {
   0% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }

   25% {
      /* Starker Ausschlag nach links mit deutlicher Neigung */
      transform: translate(-20px, 8px) scale(0.92) rotate(-7deg);
   }

   50% {
      /* Höchster Punkt, fast gerade, etwas größer */
      transform: translate(5px, -25px) scale(1.08) rotate(1deg);
   }

   75% {
      /* Schwung nach rechts unten */
      transform: translate(15px, 12px) scale(0.98) rotate(6deg);
   }

   100% {
      transform: translate(0, 0) scale(1) rotate(0deg);
   }
}

.blurred-images-bg .bill-1{
   animation: rotate 17s infinite linear;
}

.blurred-images-bg .bill-2{
   animation: rotate-2 18s infinite linear;
}

.blurred-images-bg2 .bill-1{
   animation: rotate-3 14s infinite linear;
}

.blurred-images-bg2 .bill-2{
   animation: rotate-4 15s infinite linear;
}

/* =========================================
   2. GLOBAL HTML ELEMENTS
========================================= */

h1, h2, h3, h4, h5, h6 {
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 28pt;
}

nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 100px;
}

footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: .75rem;
   width: 100%;
   padding: 2rem 0;
   font-size: .75rem;
}

/* Base Inputs & Selects */
input, select {
   z-index: 2;
   outline: 2px solid var(--bg);
   outline-offset: -1px;
   border: 0;
   transition: all 0.3s;
}

input:focus {
   outline: 2px solid var(--secondary);
   box-shadow: inset 0 0 0 1px var(--secondary);
}

input:hover {
   transition: .3s;
}

.upper-input{
   background:var(--input);
   color: var(--secondary);
   border-radius: var(--star-radius-outer) 0 var(--star-radius-inner) 0;
}

.upper-input:hover{
   background: var(--hover-input);
}

.lower-input{
   background:var(--input2);
   color: var(--font);
   border-radius:0 var(--star-radius-inner) 0 var(--star-radius-outer) ;
}

.lower-input:hover{
   background: var(--hover-input2);
}

#currency-select-1{
   border-radius:0 var(--star-radius-outer) 0 var(--star-radius-inner);
}

#currency-select-2{
   border-radius:var(--star-radius-inner) 0 var(--star-radius-outer) 0;
}

input::placeholder {
   opacity: .7;
   color: var(--highlight);
}

input[type=number] {
   appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
   margin: 0;
   -webkit-appearance: none;
}

select {
   margin: 0;
   list-style-type: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
   cursor: pointer;
}

select:hover {
   transition: .3s;
   background: var(--hover-button);
}

/* =========================================
   3. TYPOGRAPHY & UTILITY CLASSES
========================================= */
.bold, .full-currency-name {
   font-weight: 700;
}

.graph-header {
   font-weight: 200;
}

.name {
   margin: 0;
}

.gap {
   margin-top: .4rem;
}

@keyframes pulse {
   0% {
      opacity: 1;
   }
   50% {
      opacity: 0.25;
   }
   100% {
      opacity: 1;
   }
}

.loading {
   filter: grayscale(0.5); 
   pointer-events: none;
   animation: pulse 2s infinite ease-in-out;
}

.emoji {
   cursor: pointer;
}

/* Colors & Highlights */
.result, #card-3 .result, .title-header h1, #full-currency-name-blue {
   color: var(--secondary);
}

.beacon, .dark-light-toggle, .title-header {
   fill: var(--secondary);
}

.dot_125fd4 {
   background-color: var(--symbol)!important;
}

/* Flexbox Helpers */
.logos {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
}

.logos img {
   height: 1.1rem;
}

.logos img:nth-child(2) {
   height: .9rem;
}

.logos svg {
   height: .8rem;
}

.icon-container {
   display: flex;
   align-items: center;
   transition: .5s;
   height: 100%;
}

.line-height-small {
   display: flex;
   flex-direction: column;
   align-items: center;
   line-height: 1.4;
   text-align: justify;
}

/* User Selection Rules */
#card-1, #card-5, .currency-select, .nav-bar, footer {
   -webkit-user-select: none;
   user-select: none;
}

/* Buttons */
.darkmode-btn {
   display: inline-flex;
   border: none;
   padding: 0;
   background: 0 0;
   cursor: pointer;
}

.darkmode-btn:focus-visible {
   outline: 2px solid var(--secondary);
   border-radius: 50%;
}

.icon-hover {
   display: none;
}

.darkmode-btn:hover .icon-default {
   display: none;
}

.darkmode-btn:hover .icon-hover {
   display: block;
}

.dark-light-toggle {
   width: 36px;
   height: 36px;
   cursor: pointer;
}

/* =========================================
   4. LAYOUT & COMPONENTS
========================================= */

.container {
   position: relative;
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: auto;
   gap: 12px;
}

section {
   position: relative;
   display: grid;
   align-content: center;
   transition: all .2s;
   box-shadow: 0 1px 15px rgba(0,0,0,.08);
   border-radius: 16px;
   background-color: var(--main);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   container-type: inline-size;
}

section:hover {
   transition: .3s;
   background: var(--hover-section);
}

.card{
   box-shadow: var(--shadow);
   border: var(--border);
   box-sizing: border-box;
}

/* Card Grid Layout */
#card-1 {
   grid-row: span 3;
   grid-column: span 4;
   height: auto!important;
   background: var(--hover-section2);
}

#card-1:hover {
   background: var(--hover-section3);
}

#card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
   height: 250px;
}

#card-2, #card-3, #card-4, #card-8 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

#card-6 {
   grid-column: span 2;
   display: block;
}

#card-7 {
   cursor: pointer;
}

.top-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex: 1;
   font-size: clamp(0.6rem, 7cqw, 1rem);
}

.sub-info {
   display: flex;
   align-content: center;
   justify-content: center;
   height: 40px;
   flex-shrink: 0;
   font-size: clamp(0.5rem, 4.75cqw, 0.75rem);
}

/* Currency Input Box */
.currency-box {
   display: grid;
   grid-template-columns: 2fr 1fr;
   transition: all .4s;
   padding: 1rem;
   height: 100%;
   box-sizing: border-box;
}

.currency-box select {
   box-sizing: border-box;
   height: 100%;
}

.currency-box input {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   padding-left: 1.3rem;
   font-family: JetBrainsMono;
   font-size: 1.95rem;
   line-height: 2rem;
}

.currency-box select,.currency-box input {
   z-index:3;
}

.upper-input {
   z-index: 9;
}
.upper-input :hover {
   color:var(--main);
}

.currency-box-label {
   padding: .33rem 2.4rem;
   color: var(--highlight);
   font-size: .65rem;
   text-align: left;
}

.currency-select, input {
   border: 1px solid var(--contour);
}

.currency-select {
   width: 100%;
   font-family: JetBrainsMono;
   font-size: .9rem;
   text-align: center;
   text-align-last: center;
}

.currency-select, .currency-select option {
   background-color: var(--highlight);
   color: #eee;
}

.currency-select option {
   text-align: left;
}

/* Trend & Values */
.trend {
   text-align: center;
}

.same {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: auto;
   border: 2px solid red;
   border-radius: 8px;
   width: 100%;
   height: 100%;
   color: red;
   font-size: 1.5em;
}

.rising {
   color: #0ba800;
}

.dropping {
   color: #b00;
}

.funfact {
   opacity: 1;
   padding: 0 1.2rem;
   font-size: clamp(0.6rem, 6.2cqw, 1rem);
   line-height: 1.4;
   -webkit-hyphens: auto; /* Für Safari */
   hyphens: auto;
}

.diagram {
   display: flex;
   transition: all 0s!important;
   margin: auto;
   width: 96%;
   height: 28.5rem;
   padding-bottom: .5rem;
}

@keyframes fadeIn {
0% {
   opacity:0;
}
15% {
   opacity:0;
}

100% {
   opacity:1;
}
}

/* Visual Components */
.star {
   position: absolute;
   z-index: 0;
   top: 50%;
   left: calc(2/3 * 100%);
   transform: translate(-50%, -50%);
   width: 4.5rem;
   height: 4.5rem;
   background-color: var(--symbol);
   cursor: pointer;
   animation: fadeIn 3s ease-out 1;
}

.switch-icon {
   position: absolute;
   top: 50%;
   left: 39.5%;
   display: flex;
   transform: translate(-50%, -50%);
   color: var(--bg);
}

.switch-icon:hover svg {
   animation: rotate .75s linear;
}

/* Bill Images */
.bill-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: inherit;
   padding-bottom: .35rem;
   cursor: pointer;
   width:100%;
}

.bill {
   margin:-0.5rem;
   border-radius: 3px;
   height: 3.7rem;
   object-fit: contain;
   transform: translateZ(0);
   will-change: transform, opacity;
   image-rendering: high-quality;
}

.bill-1 {
   z-index: 99;
}

.bill-2 {
   rotate: -9deg;
}

.shadow .bill {
   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.blurred-images, .blurred-images-bg, .blurred-images-bg2 {
   position: absolute;
   left: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 100%;
   height: 100%;
   mix-blend-mode: var(--blend);
}

.blurred-images {
   z-index: 1;
   top: 0;
   overflow: hidden;
   border-radius: 16px;
   will-change: transform, filter;
}

.blurred-images-bg,.blurred-images-bg2 {
   z-index: -1;
   opacity: 1;
   transform: scale(3.4);
   max-height:100px;
   top: 1rem;
   max-height: 10px;
   max-width: 20px;
   left:0rem;
}

.blurred-images-bg2 {
   left:-20rem !important;
   top:-10rem;
}


.foreground-images {
   position: relative;
   z-index: 2;
   display: flex;
   flex-direction: column;
   width: 100%;
}

.blurred {
   opacity: 1;
   filter: var(--filter);
}

.blurred-bg{
   filter:var(--filter-bg);
}
.blurred-bg2{
   filter:var(--filter-bg2);
}

/* =========================================
   5. MEDIA QUERIES
========================================= 

@media (min-width: 1680px){
   :root, body {
      overflow: hidden;
   }
}
*/

@media (max-width: 1680px) {

   :root {
      --star-radius-inner:1.4rem;
   }

   .currency-box{
      padding:0.7rem;
   }

   nav {
      height: 80px;
   }
   .funfact {
      padding: 1rem;
      font-size: clamp(0.62rem, 5.6cqw, 1rem);
   }
   #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
      height: 200px!important;
   }
   .bill {
      height: 3.2rem;
   }
   .blurred{
      filter: blur(20px) saturate(5) !important;
   }
   .diagram {
      height: 23rem;
   }
   .graph-refresh {
      top: .7rem;
   }
   .graph-refresh svg {
      height: 1.3rem;
   }
   .icon-container {
      margin-right: 1rem;
   }
   .currency-box input {
      font-size: 1.6rem;
   }
   .switch-icon {
      font-size: .8rem;
   }
   .currency-box-label {
      padding: .15rem 2.4rem;
   }

   .sub-info {
      height: 36px;
   }
}

@media (max-width: 1400px) {

   .bill {
      height: 2.8rem;
   }
   footer {
      font-size: .6rem;
   }
   .currency-box input {
      font-size: 1.5rem;
   }
   .currency-select  {
      font-size: .8rem;
   }
   .currency-select option {
      font-size: 1rem;
   }
}

@media (max-width: 1200px) {

   :root {
   --star-radius-inner:1.15rem;
}

.blurred-images-bg2 {
   left:-15rem !important;
   top:-5rem;
}


   #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
      height: 160px!important;
   }
   .diagram {
      height: 18rem;
   }

   .currency-box{
      padding:0.5rem;
   }

   .funfact {
      padding: .71rem;
      font-size: clamp(0.5rem, 6cqw, 1rem);
   }
   .bill {
      height: 2.6rem;
   }
   .graph-refresh {
      height: 1.2rem;
   }
   .currency-box input {
      font-size: 1.2rem;
   }
    .currency-box select {
      font-size: 0.7rem;
   }
   .currency-select {
      font-size: .65rem;
   }
   .switch-icon {
      font-size: .7rem;
   }
   .currency-box-label {
      display: none;
   }
   .sub-info {
      height: 30px;
      font-size:0.5rem;
   }
}

@media (max-width: 992px) {
   :root {
      --star-radius-inner:1.05rem;
   }

   .blurred-images-bg2 {
   left:20rem !important;
   top:0rem;
}

   .currency-box input{
      font-size:1.4rem;
   }
   .bill {
      height: 2.7rem;
   }
   .nav-bar {
      height: 3rem;
   }
   .title-header h1 {
      font-size: 1.35rem;
   }
   .dark-light-toggle {
      width: 32px;
      height: 32px;
   }
   .funfact {
      padding: 1.1rem;
      line-height: 1.4;
      font-size: clamp(0.62rem, 3.1cqw, 1rem);
   }
   .container {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
   }
   .diagram {
      height: 16rem;
   }
   h3 {
      padding-top: .5rem;
   }

   .top-card {
      font-size: .61rem;
   }

   .gap {
      margin-top: 0;
   }
   
   #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
      height: 150px!important;
   }
   #card-1 {
      grid-column: span 3;
      order: 1;
      height: 19rem!important;
   }
   #card-2 {
      order: 4;
   }
   #card-4 {
      order: 5;
   }
   #card-5 {
      order: 2;
   }
   #card-6 {
      order: 3;
   }
   #card-7 {
      order: 10;
      grid-column: span 2;
   }
   #card-8 {
      order: 6;
   }
   #card-3 {
      order: 9;
   }
   .graph-refresh {
      right: 4%;
   }
   .switch-icon {
      font-size: .65rem;
   }
   .sub-info {
      font-size: .55rem;
   }
   .blurred-images-bg{
      top: 2rem;
      left: 0rem;
   }

   .star {
      height:3rem;
   }

}

@media (max-width: 768px) {
   .currency-box input {
      font-size: 1.22rem;
   }

   .currency-box select {
      font-size: 0.65rem;
   }
   .funfact {
      font-size: clamp(0.6rem, 3.9cqw, 1rem);
   }
   .bill {
      height: 2.6rem;
   }
   .logos div {
      display: none;
   }

}

@media (max-width: 576px) {
   body, html {
      overflow-x: hidden;
   }
   :root {
      font-size: 1rem;
      --star-radius-inner:1.8rem;
      --star-radius-outer:8px;
   }

   .blurred-images-bg2 {
      left:10rem !important;
      top:-2rem;
   }

   .funfact {
      font-size: clamp(0.65rem, 5cqw, 1rem);
      line-height: 1.3;
      padding: .9rem;
   }
   nav {
      height: 60px;
   }
   .icon-container {
      margin-right: 0;
   }

   .currency-box{
      padding:0.65rem;
   }

   .currency-box input {
      font-size: 2.2rem;
   }
   .currency-select {
      font-size: .85rem;
   }

   .currency-box select{
      font-size:0.95rem;
   }
   .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
   }
   #card-1 {
      grid-column: span 2;
   }
   #card-2 {
      order: 2;
   }
   #card-4 {
      order: 5;
   }
   #card-5 {
      order: 3;
   }
   #card-6 {
      order: 1;
   }
   #card-7{
      grid-column: span 1;
      grid-row: span 1;
   }
   #card-8 {
      order: 4;
   }

   .title-header h1 {
      font-size: 1.2rem;
   }
   .dark-light-toggle {
      width: 22px;
      height: 22px;
      padding: 1rem;
   }
   .bill {
      border-radius: 2px;
      height: 3.5rem;
   }

   section {
      border-radius: 10px;
   }

   footer {
      flex-direction: column;
   }
   .graph-refresh {
      top: .8rem;
      right: 4.5%;
   }
   .star {
      width: 4.2rem;
      height: 3.2rem;
   }
   .switch-icon {
      font-size: .9rem;
   }
   .top-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      font-size: 0.95rem;
   }
   .sub-info {
      display: flex;
      align-content: center;
      justify-content: center;
      height: 28px;
      flex-shrink: 0;
      font-size: 0.75rem;
   }
   .blurred-images-bg{
      top: 10rem;
      left: -8rem;
      transform: scaleY(4) scaleX(3);
   }

   .currency-select option {
      font-size: 1.6rem;
   }
}

@media (max-width: 400px) {
   .funfact {
      font-size: 0.68rem;
   }
   .top-card {
      font-size: 0.8rem;
   }
   .sub-info {
      height: 28px;
      font-size: 0.7rem;
   }
   .currency-box input{
      font-size:1.65rem;
   }
   .currency-box option{
      font-size:1.8rem;
   }
}