
:root {
   font-family: JetBrainsMono, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 18pt;
	font-weight: 400;
	line-height: 1.75;
	text-align: center;
	max-width: 1680px;
   padding: 0 50px 0 50px;
}

:root,body {
   margin: auto;
	height: 100%;
   background-color: var(--bg);
}

@font-face {
   font-family: JetBrainsMono;
   src: url(/JetBrainsMono.ttf);
}

[data-dark-mode=false] {
   transition: background-color 0.5s;
   --bg: #f7f8fb;
   --main: hsl(214, 0%, 88%);
   --main2: hsl(214, 0%, 81%);
   --input:hsl(225, 0%, 95%);
   --input2: hsl(0, 0%, 79%);
   --font: #262c27;
   --secondary: hsl(166, 100%, 26%);
   --highlight:hsl(167, 30%, 25%);
   --symbol:#00bd91;
   
   --filter:blur(24px) saturate(5) contrast(1.1);
   --blend:multiply;
   --brightness:0.96;
}
[data-dark-mode=true] {
   transition: background-color 0.5s;
   --bg: #0B0C10;
   --main: hsl(206, 15%, 14%);
   --main2: hsl(206, 15%, 13%);
   --input: hsl(206, 15%, 23%);
   --input2: hsl(210, 14%, 8%);
   --font: #D3D9D4;
   --secondary: #66FCF1;
   --secondary: rgb(255, 0, 0);
   --highlight:hsl(180, 43%, 28%);
   --symbol:#00ffee;
   
   --filter:blur(36px) saturate(5) contrast(1) brightness(0.8);
   --blend:normal;
   --brightness:1.07;
}

@keyframes rotate {
   0% {
      transform: rotate(0)
   }
   to {
      transform: rotate(360deg)
   }
}

body {
   color: var(--font);
   flex-wrap: nowrap;
   min-width: 320px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
}

input[type=number] {
  appearance: textfield;
}

footer{
   font-size:0.75rem;
   width:100%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:0.75rem;
   padding:2rem 0;
}

/*DotWave*/
.container_577783{
   margin:auto;
}
.dot_125fd4{
   background-color: var(--symbol) !important;
}

.logos{
   gap:8px;
   display:flex;
   justify-content: center;
   align-items: center;
}

.logos img{
   height:1.1rem;
}

.logos img:nth-child(2){
   height:0.9rem;
}

.logos svg{
   height:0.8rem;
}

.beacon{
   fill: var(--secondary);
}

.dark-light-toggle,.title-header {
   fill: var(--secondary);
}

.emoji,select {
   cursor: pointer;
}

#card-3 .result,.result,.title-header h1 {
   color: var(--secondary);
}

.name{
   margin:0;
}

/*.copyright{
   padding-left:0.2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*/

.star{
   z-index: 1;
   background-color: var(--symbol);
   width:3.2rem;
   height:3.2rem;
   position: absolute;
   top: 50%;
   left: calc(2/3 * 100%);
   transform: translate(-50%, -50%);
   cursor: pointer;
}

.container h3,.currency-select,.funfact,.title-header h1,.sub-info,.bill-container,.star,footer,h5 {
   -webkit-user-select: none;
   user-select: none;
}

.bold{
   font-weight: 700;
}

.currency-box {
   transition: all 0.4s;
   display: grid;
   grid-template-columns: 2fr 1fr;
   padding-left:1rem;
   padding-right:1rem;
}

.currency-box select {
   height: 100%;
   box-sizing: border-box;
}

.currency-box input {
   line-height: 2rem;
   font-family: JetBrainsMono;
   height: 3.4rem;
   font-size:1.8rem;
   width:100%;
   padding-left:1.3rem;
   box-sizing: border-box;
   background-color: var(--input);
   color:var(--secondary);
}

.currency-box input:nth-child(1) {
   z-index: 9;
}

.currency-box-label{
 font-size:0.65rem;
 padding:0.33rem 2.4rem;
 text-align: left;
 color:var(--highlight);
}

input,select {
   z-index: 2;
   border: 0;
   border-radius:999px;
   outline: 2px solid var(--bg);
   outline-offset: -1px;
}

input:focus {
   outline: none;
   box-shadow: inset 0 0 0 2px var(--secondary);
}

input:disabled{
   color:var(--font);
   background-color: var(--input2);
}

select {
   -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	list-style-type: none;
	margin: 0;
}

h1,h2,h4,h5,h6 {
   margin: 0;
	padding: 0;
}

h1 {
   font-size: 28pt;
}

h3 {
   margin: 0;
}

.icon-container {
   transition: .5s;
   height:100%;
   display: flex;
   align-items: center;
}

input::placeholder {
   color: var(--highlight);
	opacity: 0.7;
}

.dark-light-toggle {
   cursor: pointer;
	height: 36px;
	width: 36px;
}

.container {
   position:relative;
   display: grid;
	gap: 12px;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: auto;
}

section {
   align-content: center;
	background: linear-gradient(180deg,var(--main),var(--main2));
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 16px;
	box-shadow: 0 1px 15px rgba(0, 0, 0, .08);
	display: grid;
	transition: all 0.2s;
}

section:hover, input:hover, select:hover {
   filter: brightness(var(--brightness));
	transition: 0.3s;
}

.diagram {
   margin: auto;
	width: 96%;
   height:28.5rem;
   display: flex;
   padding-bottom:0.5rem;
   transition: all 0s !important;
   
}

.line-height-small {
   text-align: justify;
   align-items: center;
	display: flex;
	flex-direction: column;
	line-height: 1.4;

}

.trend {
	text-align: center;
}

.funfact {
   font-size: 0.75rem;
	line-height: 1.5;
   padding: 0 1.5rem;
   opacity: 1;
   transition: opacity 0.5s ease-in-out;
}

.loading{
   opacity:0 !important;
}

.same {
   display: flex;
	align-items: center;
	justify-content: center;
   width:100%;
	height: 100%;
   margin: auto;
	color: red;
	border: 2px solid red;
	border-radius: 8px;
	font-size: 1.5em;
}

.rising {
   color: #0ba800;
}

.dropping {
   color: #b00;
}

.currency-select {
   font-family: JetBrainsMono;
	font-size: 0.9rem;
   width:100%;
}

.currency-select,.currency-select option {
   background-color: var(--highlight);
   color:#eee;
	padding-left: 1rem;
}

.bill-container {
   display: flex;
   flex-direction: column;
	justify-content: center;
	align-items: center;
   cursor: pointer;
   height:inherit;
   padding-bottom:0.35rem;
}

.blurred-images {
   border-radius: 16px;
   mix-blend-mode:var(--blend);
   position: absolute;
   display:flex;
   flex-direction: column;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
   overflow: hidden;
   justify-content: center;
}

.foreground-images {
   position: relative;
   display:flex;
   flex-direction: column;
   z-index: 2;
}

.blurred {
   filter: var(--filter);
   opacity: 1;
}

.bill {
	height: 3.7rem;
	object-fit: contain;
	transition: all 0.5s;
	border-radius: 4px;
   margin:-0.5rem;
}

.shadow{
   filter: drop-shadow(0 5px 20px rgba(0, 0, 0, 0.2));
}

.bill:nth-child(1){
   z-index: 99;
}

.bill:nth-child(2){
   rotate: -9deg;
}

.graph-header {
   font-weight: 200;
}
.full-currency-name {
   font-weight: 700;
}
#full-currency-name-blue {
   color: var(--secondary);
}

.switch-icon:hover svg{
   animation: rotate 0.75s linear;
}

.switch-icon{
   position: absolute;
   color:var(--bg);
   display: flex;
   top: 50%;
   left: 39.5%;
   transform: translate(-50%, -50%);
}

#card-1 {
   grid-column: span 4;
	grid-row: span 3;
   height: auto !important;
   position:relative;
}

#card-2,#card-3,#card-4,#card-5,#card-6,#card-7,#card-8 {
   position:relative;
   height: 250px;
	grid-column: span 1;
	grid-row: span 1;
}

#card-2,#card-3,#card-4,#card-8 {
   display:flex;
   flex-direction: column;
   justify-content:space-around;
}

#card-6 {
   grid-column: span 2;
	grid-row: span 1;
}

#card-7 {
   cursor: pointer;
}

.top-card{ 
   font-size: 17pt;
   display:flex;
   flex-direction: column;
}

nav{
   display:flex;
   flex:row;
   justify-content: space-between;
   align-items: center;
   height:100px;
}

/*.sub-info{
   font-size:0.6rem;
   position:absolute;
   bottom:0;
   display:flex;
   transform: translate(-50%, -50%);
   left:50%;
   white-space: nowrap; 
}*/

.sub-info{
   font-size:0.6rem;
}

.gap{
   margin-top:0.4rem;
}

/******************************************************************************************************************/

@media(max-width:1680px){
   :root{
      padding: 0 12px 0 12px;
   }
   nav{
      height:80px;
   }

   .funfact{
      padding:1rem;
      font-size:0.66rem;
   }

   #card-2,#card-3,#card-4,#card-5,#card-6,#card-7,#card-8 {
      height: 200px !important;
   }

   .bill{
      height:3.2rem;
   }

   .diagram{
      height:23rem;
   }

   .graph-refresh svg{
      height:1.3rem;
   }

   .graph-refresh{
      top:0.7rem;
   }

   .top-card{
      font-size:0.84rem;
   }
   .icon-container{
      margin-right:1rem;
   }
   .currency-box input {
      height:2.6rem;
      font-size:1.6rem;
   }
   .star{
      width:2.4rem;
      height:2.4rem;
   }

   .switch-icon{
      font-size: 0.8rem;
   }

   .currency-box-label{
 font-size:0.65rem;
 padding:0.15rem 2.4rem;
 text-align: left;
}

}

/******************************************************************************************************************/

@media (max-width:1400px){
   .top-card{
      font-size:0.73rem;
   }

   .funfact{
      padding:1rem;
      font-size: 0.61rem;
   }

   .bill{
      height:2.8rem;
   }

   footer{
      font-size:0.6rem;
   }
   
   .currency-box input {
      font-size:1.5rem;
   }

   .currency-select,.currency-select option {
      padding-left: 0.75rem;
      font-size:0.75rem;
   }
}

/******************************************************************************************************************/

@media(max-width:1200px){
   #card-2, #card-3, #card-4, #card-5, #card-6, #card-7, #card-8 {
      height: 160px !important;
   }
   .diagram {
   height: 18rem;
   }
   .top-card{
      font-size:0.6rem;
   }

   .funfact{
      font-size:0.49rem;
      padding:0.71rem;
   }

   .bill{
      height:2.6rem;
   }

   .graph-refresh{
      top:0.7rem;
   }

   .graph-refresh{
      height:1.2rem;
   }
   .currency-box input {
      height:2.2rem;
      font-size:1.2rem;
   }
   .currency-select {
      font-size: 0.65rem;
   }

   .switch-icon{
      font-size: 0.7rem;
   }

   .currency-box-label{
 display: none;
}

}

/******************************************************************************************************************/

@media(max-width:992px){
   .bill{
      height:2.7rem;
   }

   .nav-bar{
      height:3rem;
   }

   .title-header h1{
      font-size:1.35rem;
   }

   .dark-light-toggle{
      height:32px;
      width:32px;
   }

   .funfact{
      padding: 1.1rem;
      line-height: 1.4;
      font-size:0.8rem;
   }

   .container {
      gap: 8px;
      grid-template-columns: repeat(3, 1fr);
   }
   .diagram{
      height:16rem;
   }
   h3{
      padding-top:0.5rem;
   }

   #card-2,#card-3,#card-4,#card-5,#card-6,#card-7,#card-8 {
      order:10;
      height: 150px !important;
      grid-column: span 1;
      grid-row: span 1;
   }

   #card-1 {
      order:1;
      grid-column: span 3;
      grid-row: span 1;
      height: 19rem !important;
   }

   #card-2{
      order:3;
   }
   #card-4 {
      order:4;
   }
   #card-5{
      order:1;
   }
   #card-6 {
      order:2;
      grid-column: span 2;
   }
   #card-8{
      order:5;
   }
   #card-7{
      grid-column: span 2;
   }
   .graph-refresh{
      right:4%;
   }
   .switch-icon{
      font-size: 0.65rem;
   }
}

/******************************************************************************************************************/

@media(max-width:768px){
   .currency-box input {
      font-size:1.05rem;
   }
   .bill{
      height:2.6rem;
   }

   .funfact{
      font-size:0.6rem;
   }
   .logos div{
      display:none;
   }
   .currency-select,.currency-select option {
      padding-left: 0.75rem;
   }

}

/******************************************************************************************************************/

@media(max-width:576px){

   :root {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75;
      padding: 0 8px 0 8px;
   }

   .icon-container{
      margin-right:0;
   }

   .currency-box input {
      height:3.1rem;
      font-size:1.4rem;
   }

   .currency-select {
      font-size: 0.85rem;
   }

   .container {
      gap: 5px;
      grid-template-columns: repeat(2, 1fr);
   }

   .diagram{
      height:16rem;
   }

   h3{
      padding-top:0.5rem;
   }

   #card-2,#card-3,#card-4,#card-5,#card-6,#card-7,#card-8 {
      order:10;
      height: 150px !important;
      grid-column: span 1;
      grid-row: span 1;
   }

   #card-1 {
      order:1;
      grid-column: span 2;
      grid-row: span 1;
      height: 19rem !important;
   }

   #card-2{
      order:2;
   }
   #card-4 {
      order:5;
   }
   #card-5{
      order:3;
   }
   #card-6 {
      order:1;
      grid-column: span 2;
   }
   #card-8{
      order:4;
   }
   .title-header h1{
      font-size:1.2rem;
   }

   .dark-light-toggle {
      height: 22px;
      width: 22px;
      padding:1rem;
   }

   nav{
      height:60px;
   }

   .bill{
      height:3.5rem;
      border-radius: 2px;
   }

   .blurred-images {
      border-radius: 10px;
   }

   .top-card{
      font-size:0.8rem;
   }

   .funfact{
      padding: 0.9rem;
      line-height: 1.3;
      font-size:0.7rem;
   }

   section {
      border-radius: 10px;
   }

   h5{
      font-size:0.6rem;
   }

   footer{
      flex-direction: column;
   }

   .graph-refresh{
      right:4.5%;
      top:0.8rem;
   }

   .star{
      width:3.2rem;
      height:3.2rem;
   }

   .switch-icon{
      font-size: 0.9rem;
   }

}